/* Write your CSS here */

.card-cont {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.main-heading {
  color: black;
  font-family: Roboto;
  font-weight: bold;
  font-size: 35px;
}

.search-cont {
  background-color: #f1f5f9;
  border-radius: 7px;
  border-color: transparent;
  height: 32px;
  width: 200px;
  color: black;
}

.list-cont {
  list-style-type: none;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(40% - 10px);
}

.search-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-button {
  background-color: #f1f5f9;
  border-color: transparent;
  margin-right: 10px;
}

.search-image {
  height: 20px;
}
